LICENSE_OFL.txt
NotoSansCJKtc-Black.otf
NotoSansCJKtc-Bold.otf
NotoSansCJKtc-DemiLight.otf
NotoSansCJKtc-Light.otf
NotoSansCJKtc-Medium.otf
NotoSansCJKtc-Regular.otf
NotoSansCJKtc-Thin.otf
NotoSansCJKtc-hinted.zip
NotoSansMonoCJKtc-Bold.otf
NotoSansMonoCJKtc-Regular.otf
article.txt
creditcard_titles.csv
jieba-zh_TW/
tibame_tm/
userdict.txt
